* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

@mixin titles {
    font-family: $cardo;
    font-size: 2.5rem;
    color: $mainbgcolor;
    @media (max-width: 450px) {
        font-size: 2.2rem;
    }
    @media (max-width: 400px) {
        font-size: 2rem;
    }
    @media (max-width: 370px) {
        font-size: 1.8rem;
    }
    @media (max-width: 330px) {
        font-size: 1.5rem;
    }
}

@mixin line {
    width: 5%;
    margin: 1% 0;
    border-bottom: 2px solid $primarycolor;
}

@mixin tugma {
    font-family: 'Cardo', serif;
    & a:hover {
        background-color: $primarycolor;
        color: $mainbgcolor;
    }
}