@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$mainbgcolor: #1B3764;
$primarycolor: #FFCA42;
$descriptioncolor: #B4C7E7;
$descriptioncolor2: #969AA0;
$logobackground: #141414;
$autohorbgcolor: #F5F5F5;
$inter: 'Inter', sans-serif;
$cardo: 'Cardo', serif;